static/attachments/apidocs-mxsdk/apidocs/feedback-api/19398864.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FeedbackAPI" targetNamespace="http://home.mendix.com/feedback" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://home.mendix.com/feedback">
  <wsdl:types>
    <xsd:schema targetNamespace="http://home.mendix.com/feedback">
      <xsd:element name="AcceptFeedback">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ApiKey" type="xsd:string" />
            <xsd:element name="ProjectID" type="xsd:string" />
            <xsd:element name="FeedbackItemID" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AcceptFeedbackResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" minOccurs="0" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddFeedback">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ApiKey" type="xsd:string" />
            <xsd:element name="ProjectID" type="xsd:string" />
            <xsd:element name="Shortname" type="xsd:string" />
            <xsd:element name="IssueType">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Question" />
                  <xsd:enumeration value="Idea" />
                  <xsd:enumeration value="Problem" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Description" minOccurs="0" type="xsd:string" />
            <xsd:element name="Username" type="xsd:string" />
            <xsd:element name="UserEmail" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddFeedbackResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FeedbackItemID" minOccurs="0" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CloseFeedback">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ApiKey" type="xsd:string" />
            <xsd:element name="ProjectID" type="xsd:string" />
            <xsd:element name="FeedbackItemID" type="xsd:long" />
            <xsd:element name="Reason" minOccurs="0" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CloseFeedbackResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="NewStatus" minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Open" />
                  <xsd:enumeration value="Under_review" />
                  <xsd:enumeration value="Accepted" />
                  <xsd:enumeration value="Scheduled" />
                  <xsd:enumeration value="Solved" />
                  <xsd:enumeration value="Rejected" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteFeedback">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ApiKey" type="xsd:string" />
            <xsd:element name="ProjectID" type="xsd:string" />
            <xsd:element name="FeedbackItemID" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteFeedbackResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Result" minOccurs="0" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetFeedbackItems">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ApiKey" type="xsd:string" />
            <xsd:element name="ProjectID" type="xsd:string" />
            <xsd:element name="IssueStateFilter" minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Open" />
                  <xsd:enumeration value="Under_review" />
                  <xsd:enumeration value="Accepted" />
                  <xsd:enumeration value="Scheduled" />
                  <xsd:enumeration value="Solved" />
                  <xsd:enumeration value="Rejected" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetFeedbackItemsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Issues" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Nr" type="xsd:long" />
                  <xsd:element name="Shortname" nillable="true">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Description" nillable="true" type="xsd:string" />
                  <xsd:element name="IssueState">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Open" />
                        <xsd:enumeration value="Under_review" />
                        <xsd:enumeration value="Accepted" />
                        <xsd:enumeration value="Scheduled" />
                        <xsd:enumeration value="Solved" />
                        <xsd:enumeration value="Rejected" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Username" nillable="true">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Useremail" nillable="true">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Userroles" nillable="true" type="xsd:string" />
                  <xsd:element name="Browser" nillable="true">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="400" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Timestamp" type="xsd:dateTime" />
                  <xsd:element name="Form" nillable="true">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="FormGuid" nillable="true">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Url" nillable="true">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Screensize" nillable="true">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="400" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="IssueType">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Question" />
                        <xsd:enumeration value="Idea" />
                        <xsd:enumeration value="Problem" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetSingleFeedbackItem">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ApiKey" type="xsd:string" />
            <xsd:element name="ProjectID" type="xsd:string" />
            <xsd:element name="FeedbackItemID" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetSingleFeedbackItemResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Issue" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Nr" type="xsd:long" />
                  <xsd:element name="Shortname" nillable="true">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Description" nillable="true" type="xsd:string" />
                  <xsd:element name="IssueState">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Open" />
                        <xsd:enumeration value="Under_review" />
                        <xsd:enumeration value="Accepted" />
                        <xsd:enumeration value="Scheduled" />
                        <xsd:enumeration value="Solved" />
                        <xsd:enumeration value="Rejected" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Username" nillable="true">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Useremail" nillable="true">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="200" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Timestamp" type="xsd:dateTime" />
                  <xsd:element name="IssueType">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Question" />
                        <xsd:enumeration value="Idea" />
                        <xsd:enumeration value="Problem" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="authentication">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="password" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AcceptFeedbackRequest">
    <wsdl:part name="request_header" element="tns:authentication" />
    <wsdl:part name="parameters" element="tns:AcceptFeedback" />
  </wsdl:message>
  <wsdl:message name="AcceptFeedbackResponse">
    <wsdl:part name="result" element="tns:AcceptFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="AddFeedbackRequest">
    <wsdl:part name="request_header" element="tns:authentication" />
    <wsdl:part name="parameters" element="tns:AddFeedback" />
  </wsdl:message>
  <wsdl:message name="AddFeedbackResponse">
    <wsdl:part name="result" element="tns:AddFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="CloseFeedbackRequest">
    <wsdl:part name="request_header" element="tns:authentication" />
    <wsdl:part name="parameters" element="tns:CloseFeedback" />
  </wsdl:message>
  <wsdl:message name="CloseFeedbackResponse">
    <wsdl:part name="result" element="tns:CloseFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFeedbackRequest">
    <wsdl:part name="request_header" element="tns:authentication" />
    <wsdl:part name="parameters" element="tns:DeleteFeedback" />
  </wsdl:message>
  <wsdl:message name="DeleteFeedbackResponse">
    <wsdl:part name="result" element="tns:DeleteFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="GetFeedbackItemsRequest">
    <wsdl:part name="request_header" element="tns:authentication" />
    <wsdl:part name="parameters" element="tns:GetFeedbackItems" />
  </wsdl:message>
  <wsdl:message name="GetFeedbackItemsResponse">
    <wsdl:part name="result" element="tns:GetFeedbackItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSingleFeedbackItemRequest">
    <wsdl:part name="request_header" element="tns:authentication" />
    <wsdl:part name="parameters" element="tns:GetSingleFeedbackItem" />
  </wsdl:message>
  <wsdl:message name="GetSingleFeedbackItemResponse">
    <wsdl:part name="result" element="tns:GetSingleFeedbackItemResponse" />
  </wsdl:message>
  <wsdl:portType name="FeedbackAPIPortType">
    <wsdl:operation name="AcceptFeedback">
      <wsdl:documentation>Accept the specified feedback item. Parameters 
ApiKey: The ApiKey the application uses to access the Feedback API for this project.
FeedbackItemID: The ID of the Feedback item to be accepted
ProjectID: The ID of the project.</wsdl:documentation>
      <wsdl:input message="tns:AcceptFeedbackRequest" />
      <wsdl:output message="tns:AcceptFeedbackResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddFeedback">
      <wsdl:documentation>Add a new feedback item to the project and returns the ID of the new feedback item. Parameters 
ApiKey: The ApiKey the application uses to access the Feedback API for this project.
Description: Description of the feedback item. (Optional)
IssueType: Type of the feedback item (Question/Idea/Problem)
ProjectID: The ID of the project.
Shortname: The name of the feedback item.
Useremail: Email address of the user who created the feedback item.
Username: Name of the user who created the feedback item.</wsdl:documentation>
      <wsdl:input message="tns:AddFeedbackRequest" />
      <wsdl:output message="tns:AddFeedbackResponse" />
    </wsdl:operation>
    <wsdl:operation name="CloseFeedback">
      <wsdl:documentation>Close the specified feedback item. Parameters:
ApiKey: The ApiKey the application uses to access the Feedback API for this project.
FeedbackItemID: The id of the feedback item being closed.
ProjectID: The ID of the project.
Reason: Reason why the feedback item is being closed (Optional)</wsdl:documentation>
      <wsdl:input message="tns:CloseFeedbackRequest" />
      <wsdl:output message="tns:CloseFeedbackResponse" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFeedback">
      <wsdl:documentation>Delete the specified feedback item. Parameters:
ApiKey: The ApiKey the application uses to access the Feedback API for this project.
FeedbackItemID: The ID of the Feedback item to be deleted
ProjectID: The ID of the project.</wsdl:documentation>
      <wsdl:input message="tns:DeleteFeedbackRequest" />
      <wsdl:output message="tns:DeleteFeedbackResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedbackItems">
      <wsdl:documentation>Retrieve all feedback items for the project which satisfy the IssueState filter. Parameters:
ApiKey: The ApiKey the application uses to access the Feedback API for this project.
IssueStateFilter: State of the Feedback items to be retrieved. (New/Under_review/Accepted/Scheduled/Solved/Rejected , empty returns all feedback for the project)
ProjectID: The ID of the project.</wsdl:documentation>
      <wsdl:input message="tns:GetFeedbackItemsRequest" />
      <wsdl:output message="tns:GetFeedbackItemsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleFeedbackItem">
      <wsdl:documentation>Retrieve a single feedback item by ID. Parameters:
ApiKey: The ApiKey the application uses to access the Feedback API for this project.
FeedbackItemID: The ID of the Feedback item to be retrieved
ProjectID: The ID of the project.</wsdl:documentation>
      <wsdl:input message="tns:GetSingleFeedbackItemRequest" />
      <wsdl:output message="tns:GetSingleFeedbackItemResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FeedbackAPISoap" type="tns:FeedbackAPIPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AcceptFeedback">
      <soap:operation soapAction="http://home.mendix.com/feedbackAcceptFeedback" />
      <wsdl:input>
        <soap:header message="tns:AcceptFeedbackRequest" part="request_header" use="literal" />
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFeedback">
      <soap:operation soapAction="http://home.mendix.com/feedbackAddFeedback" />
      <wsdl:input>
        <soap:header message="tns:AddFeedbackRequest" part="request_header" use="literal" />
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseFeedback">
      <soap:operation soapAction="http://home.mendix.com/feedbackCloseFeedback" />
      <wsdl:input>
        <soap:header message="tns:CloseFeedbackRequest" part="request_header" use="literal" />
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFeedback">
      <soap:operation soapAction="http://home.mendix.com/feedbackDeleteFeedback" />
      <wsdl:input>
        <soap:header message="tns:DeleteFeedbackRequest" part="request_header" use="literal" />
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedbackItems">
      <soap:operation soapAction="http://home.mendix.com/feedbackGetFeedbackItems" />
      <wsdl:input>
        <soap:header message="tns:GetFeedbackItemsRequest" part="request_header" use="literal" />
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleFeedbackItem">
      <soap:operation soapAction="http://home.mendix.com/feedbackGetSingleFeedbackItem" />
      <wsdl:input>
        <soap:header message="tns:GetSingleFeedbackItemRequest" part="request_header" use="literal" />
        <soap:body parts="parameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FeedbackAPI">
    <wsdl:port name="FeedbackAPIPort" binding="tns:FeedbackAPISoap">
      <soap:address location="https://sprintr.home.mendix.com/ws/FeedbackAPI" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>