content/howto8/integration/attachments/Excel/CountryImport.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
<xs:element name="CountriesImport">
  <xs:complexType>
    <xs:sequence>
<xs:element type="xs:string" name="ANDORRA"/>
<xs:element type="xs:string" name="UNITEDARABEMIRATES"/>
<xs:element type="xs:string" name="AFGHANISTAN"/>
<xs:element type="xs:string" name="ANTIGUAANDBARBUDA"/>
<xs:element type="xs:string" name="ANGUILLA"/>
<xs:element type="xs:string" name="ALBANIA"/>
<xs:element type="xs:string" name="ARMENIA"/>
<xs:element type="xs:string" name="ANGOLA"/>
<xs:element type="xs:string" name="ANTARCTICA"/>
<xs:element type="xs:string" name="ARGENTINA"/>
<xs:element type="xs:string" name="AMERICANSAMOA"/>
<xs:element type="xs:string" name="AUSTRIA"/>
<xs:element type="xs:string" name="AUSTRALIA"/>
<xs:element type="xs:string" name="ARUBA"/>
<xs:element type="xs:string" name="ALANDISLANDS"/>
<xs:element type="xs:string" name="AZERBAIJAN"/>
<xs:element type="xs:string" name="BOSNIAANDHERZEGOVINA"/>
<xs:element type="xs:string" name="BARBADOS"/>
<xs:element type="xs:string" name="BANGLADESH"/>
<xs:element type="xs:string" name="BELGIUM"/>
<xs:element type="xs:string" name="BURKINAFASO"/>
<xs:element type="xs:string" name="BULGARIA"/>
<xs:element type="xs:string" name="BAHRAIN"/>
<xs:element type="xs:string" name="BURUNDI"/>
<xs:element type="xs:string" name="BENIN"/>
<xs:element type="xs:string" name="SAINTBARTHELEMY"/>
<xs:element type="xs:string" name="BERMUDA"/>
<xs:element type="xs:string" name="BRUNEIDARUSSALAM"/>
<xs:element type="xs:string" name="BOLIVIA"/>
<xs:element type="xs:string" name="BONAIRE"/>
<xs:element type="xs:string" name="BRAZIL"/>
<xs:element type="xs:string" name="BAHAMAS"/>
<xs:element type="xs:string" name="BHUTAN"/>
<xs:element type="xs:string" name="BOUVETISLAND"/>
<xs:element type="xs:string" name="BOTSWANA"/>
<xs:element type="xs:string" name="BELARUS"/>
<xs:element type="xs:string" name="BELIZE"/>
<xs:element type="xs:string" name="CANADA"/>
<xs:element type="xs:string" name="CONGO"/>
<xs:element type="xs:string" name="CENTRALAFRICANREPUBLIC"/>
<xs:element type="xs:string" name="CONGO"/>
<xs:element type="xs:string" name="SWITZERLAND"/>
<xs:element type="xs:string" name="COOKISLANDS"/>
<xs:element type="xs:string" name="CHILE"/>
<xs:element type="xs:string" name="CAMEROON"/>
<xs:element type="xs:string" name="CHINA"/>
<xs:element type="xs:string" name="COLOMBIA"/>
<xs:element type="xs:string" name="COSTARICA"/>
<xs:element type="xs:string" name="CUBA"/>
<xs:element type="xs:string" name="CAPEVERDE"/>
<xs:element type="xs:string" name="CURACAO"/>
<xs:element type="xs:string" name="CHRISTMASISLAND"/>
<xs:element type="xs:string" name="CYPRUS"/>
<xs:element type="xs:string" name="CZECHREPUBLIC"/>
<xs:element type="xs:string" name="GERMANY"/>
<xs:element type="xs:string" name="DJIBOUTI"/>
<xs:element type="xs:string" name="DENMARK"/>
<xs:element type="xs:string" name="DOMINICA"/>
<xs:element type="xs:string" name="DOMINICANREPUBLIC"/>
<xs:element type="xs:string" name="ALGERIA"/>
<xs:element type="xs:string" name="ECUADOR"/>
<xs:element type="xs:string" name="ESTONIA"/>
<xs:element type="xs:string" name="EGYPT"/>
<xs:element type="xs:string" name="WESTERNSAHARA"/>
<xs:element type="xs:string" name="ERITREA"/>
<xs:element type="xs:string" name="SPAIN"/>
<xs:element type="xs:string" name="ETHIOPIA"/>
<xs:element type="xs:string" name="FINLAND"/>
<xs:element type="xs:string" name="FIJI"/>
<xs:element type="xs:string" name="FALKLANDISLANDS"/>
<xs:element type="xs:string" name="MICRONESIA"/>
<xs:element type="xs:string" name="FAROEISLANDS"/>
<xs:element type="xs:string" name="FRANCE"/>
<xs:element type="xs:string" name="GABON"/>
<xs:element type="xs:string" name="UNITEDKINGDOM"/>
<xs:element type="xs:string" name="GRENADA"/>
<xs:element type="xs:string" name="GEORGIA"/>
<xs:element type="xs:string" name="FRENCHGUIANA"/>
<xs:element type="xs:string" name="GUERNSEY"/>
<xs:element type="xs:string" name="GHANA"/>
<xs:element type="xs:string" name="GIBRALTAR"/>
<xs:element type="xs:string" name="GREENLAND"/>
<xs:element type="xs:string" name="GAMBIA"/>
<xs:element type="xs:string" name="GUINEA"/>
<xs:element type="xs:string" name="GUADELOUPE"/>
<xs:element type="xs:string" name="EQUATORIALGUINEA"/>
<xs:element type="xs:string" name="GREECE"/>
<xs:element type="xs:string" name="SOUTHGEORGIAANDTHESOUTHSANDWICHISLANDS"/>
<xs:element type="xs:string" name="GUATEMALA"/>
<xs:element type="xs:string" name="GUAM"/>
<xs:element type="xs:string" name="GUINEA-BISSAU"/>
<xs:element type="xs:string" name="GUYANA"/>
<xs:element type="xs:string" name="HONGKONG"/>
<xs:element type="xs:string" name="HEARDISLANDANDMCDONALDISLANDS"/>
<xs:element type="xs:string" name="HONDURAS"/>
<xs:element type="xs:string" name="CROATIA"/>
<xs:element type="xs:string" name="HAITI"/>
<xs:element type="xs:string" name="HUNGARY"/>
<xs:element type="xs:string" name="INDONESIA"/>
<xs:element type="xs:string" name="IRELAND"/>
<xs:element type="xs:string" name="ISRAEL"/>
<xs:element type="xs:string" name="ISLEOFMAN"/>
<xs:element type="xs:string" name="INDIA"/>
<xs:element type="xs:string" name="BRITISHINDIANOCEANTERRITORY"/>
<xs:element type="xs:string" name="IRAQ"/>
<xs:element type="xs:string" name="IRAN"/>
<xs:element type="xs:string" name="ICELAND"/>
<xs:element type="xs:string" name="ITALY"/>
<xs:element type="xs:string" name="JERSEY"/>
<xs:element type="xs:string" name="JAMAICA"/>
<xs:element type="xs:string" name="JORDAN"/>
<xs:element type="xs:string" name="JAPAN"/>
<xs:element type="xs:string" name="KENYA"/>
<xs:element type="xs:string" name="KYRGYZSTAN"/>
<xs:element type="xs:string" name="CAMBODIA"/>
<xs:element type="xs:string" name="KIRIBATI"/>
<xs:element type="xs:string" name="COMOROS"/>
<xs:element type="xs:string" name="SAINTKITTSANDNEVIS"/>
<xs:element type="xs:string" name="KOREA"/>
<xs:element type="xs:string" name="KUWAIT"/>
<xs:element type="xs:string" name="CAYMANISLANDS"/>
<xs:element type="xs:string" name="KAZAKHSTAN"/>
<xs:element type="xs:string" name="LEBANON"/>
<xs:element type="xs:string" name="SAINTLUCIA"/>
<xs:element type="xs:string" name="LIECHTENSTEIN"/>
<xs:element type="xs:string" name="SRILANKA"/>
<xs:element type="xs:string" name="LIBERIA"/>
<xs:element type="xs:string" name="LESOTHO"/>
<xs:element type="xs:string" name="LITHUANIA"/>
<xs:element type="xs:string" name="LUXEMBOURG"/>
<xs:element type="xs:string" name="LATVIA"/>
<xs:element type="xs:string" name="LIBYA"/>
<xs:element type="xs:string" name="MOROCCO"/>
<xs:element type="xs:string" name="MONACO"/>
<xs:element type="xs:string" name="MOLDOVA"/>
<xs:element type="xs:string" name="MONTENEGRO"/>
<xs:element type="xs:string" name="SAINTMARTIN"/>
<xs:element type="xs:string" name="MADAGASCAR"/>
<xs:element type="xs:string" name="MARSHALLISLANDS"/>
<xs:element type="xs:string" name="MACEDONIA"/>
<xs:element type="xs:string" name="MALI"/>
<xs:element type="xs:string" name="MYANMAR"/>
<xs:element type="xs:string" name="MONGOLIA"/>
<xs:element type="xs:string" name="MACAO"/>
<xs:element type="xs:string" name="NORTHERNMARIANAISLANDS"/>
<xs:element type="xs:string" name="MARTINIQUE"/>
<xs:element type="xs:string" name="MAURITANIA"/>
<xs:element type="xs:string" name="MONTSERRAT"/>
<xs:element type="xs:string" name="MALTA"/>
<xs:element type="xs:string" name="MAURITIUS"/>
<xs:element type="xs:string" name="MALDIVES"/>
<xs:element type="xs:string" name="MALAWI"/>
<xs:element type="xs:string" name="MEXICO"/>
<xs:element type="xs:string" name="MALAYSIA"/>
<xs:element type="xs:string" name="MOZAMBIQUE"/>
<xs:element type="xs:string" name="NAMIBIA"/>
<xs:element type="xs:string" name="NEWCALEDONIA"/>
<xs:element type="xs:string" name="NIGER"/>
<xs:element type="xs:string" name="NORFOLKISLAND"/>
<xs:element type="xs:string" name="NIGERIA"/>
<xs:element type="xs:string" name="NICARAGUA"/>
<xs:element type="xs:string" name="NETHERLANDS"/>
<xs:element type="xs:string" name="NORWAY"/>
<xs:element type="xs:string" name="NEPAL"/>
<xs:element type="xs:string" name="NAURU"/>
<xs:element type="xs:string" name="NIUE"/>
<xs:element type="xs:string" name="NEWZEALAND"/>
<xs:element type="xs:string" name="OMAN"/>
<xs:element type="xs:string" name="PANAMA"/>
<xs:element type="xs:string" name="PERU"/>
<xs:element type="xs:string" name="FRENCHPOLYNESIA"/>
<xs:element type="xs:string" name="PAPUANEWGUINEA"/>
<xs:element type="xs:string" name="PHILIPPINES"/>
<xs:element type="xs:string" name="PAKISTAN"/>
<xs:element type="xs:string" name="POLAND"/>
<xs:element type="xs:string" name="SAINTPIERREANDMIQUELON"/>
<xs:element type="xs:string" name="PITCAIRN"/>
<xs:element type="xs:string" name="PUERTORICO"/>
<xs:element type="xs:string" name="PALESTINIAN"/>
<xs:element type="xs:string" name="PORTUGAL"/>
<xs:element type="xs:string" name="PALAU"/>
<xs:element type="xs:string" name="PARAGUAY"/>
<xs:element type="xs:string" name="QATAR"/>
<xs:element type="xs:string" name="REUNION"/>
<xs:element type="xs:string" name="ROMANIA"/>
<xs:element type="xs:string" name="SERBIA"/>
<xs:element type="xs:string" name="RUSSIANFEDERATION"/>
<xs:element type="xs:string" name="RWANDA"/>
<xs:element type="xs:string" name="SAUDIARABIA"/>
<xs:element type="xs:string" name="SOLOMONISLANDS"/>
<xs:element type="xs:string" name="SEYCHELLES"/>
<xs:element type="xs:string" name="SUDAN"/>
<xs:element type="xs:string" name="SWEDEN"/>
<xs:element type="xs:string" name="SINGAPORE"/>
<xs:element type="xs:string" name="SAINTHELENA"/>
<xs:element type="xs:string" name="SLOVENIA"/>
<xs:element type="xs:string" name="SVALBARDANDJANMAYEN"/>
<xs:element type="xs:string" name="SLOVAKIA"/>
<xs:element type="xs:string" name="SIERRALEONE"/>
<xs:element type="xs:string" name="SANMARINO"/>
<xs:element type="xs:string" name="SENEGAL"/>
<xs:element type="xs:string" name="SOMALIA"/>
<xs:element type="xs:string" name="SURINAME"/>
<xs:element type="xs:string" name="SOUTHSUDAN"/>
<xs:element type="xs:string" name="SAOTOMEANDPRINCIPE"/>
<xs:element type="xs:string" name="ELSALVADOR"/>
<xs:element type="xs:string" name="SINTMAARTEN"/>
<xs:element type="xs:string" name="SYRIANARABREPUBLIC"/>
<xs:element type="xs:string" name="SWAZILAND"/>
<xs:element type="xs:string" name="CHAD"/>
<xs:element type="xs:string" name="FRENCHSOUTHERNTERRITORIES"/>
<xs:element type="xs:string" name="TOGO"/>
<xs:element type="xs:string" name="THAILAND"/>
<xs:element type="xs:string" name="TAJIKISTAN"/>
<xs:element type="xs:string" name="TOKELAU"/>
<xs:element type="xs:string" name="TURKMENISTAN"/>
<xs:element type="xs:string" name="TUNISIA"/>
<xs:element type="xs:string" name="TONGA"/>
<xs:element type="xs:string" name="TURKEY"/>
<xs:element type="xs:string" name="TRINIDADANDTOBAGO"/>
<xs:element type="xs:string" name="TUVALU"/>
<xs:element type="xs:string" name="TANZANIA"/>
<xs:element type="xs:string" name="UKRAINE"/>
<xs:element type="xs:string" name="UGANDA"/>
<xs:element type="xs:string" name="UNITEDSTATES"/>
<xs:element type="xs:string" name="URUGUAY"/>
<xs:element type="xs:string" name="UZBEKISTAN"/>
<xs:element type="xs:string" name="SAINTVINCENTANDTHEGRENADINES"/>
<xs:element type="xs:string" name="VENEZUELA"/>
<xs:element type="xs:string" name="VIRGINISLANDS"/>
<xs:element type="xs:string" name="VIETNAM"/>
<xs:element type="xs:string" name="VANUATU"/>
<xs:element type="xs:string" name="WALLISANDFUTUNA"/>
<xs:element type="xs:string" name="SAMOA"/>
<xs:element type="xs:string" name="YEMEN"/>
<xs:element type="xs:string" name="MAYOTTE"/>
<xs:element type="xs:string" name="SOUTHAFRICA"/>
<xs:element type="xs:string" name="ZAMBIA"/>
<xs:element type="xs:string" name="ZIMBABWE"/>
</xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>