static/attachments/apidocs-mxsdk/apidocs/stories-api/19398865.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="StoriesAPI" targetNamespace="http://home.mendix.com/stories" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://home.mendix.com/stories">
  <wsdl:types>
    <xsd:schema targetNamespace="http://home.mendix.com/stories">
      <xsd:element name="GetSprints">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProjectID" type="xsd:string"/>
            <xsd:element name="ApiKey" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetSprintsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Sprints" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="SprintID" type="xsd:long"/>
                  <xsd:element name="Name" nillable="true" type="xsd:string"/>
                  <xsd:element name="HasStories" type="xsd:boolean"/>
                  <xsd:element name="Completed" type="xsd:boolean"/>
                  <xsd:element name="IsActiveSprint" type="xsd:boolean"/>
                  <xsd:element name="Deleted" type="xsd:boolean"/>
                  <xsd:element name="CreationDate" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="StartDate" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="EndDate" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="isBacklog" type="xsd:boolean"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetStories">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProjectID" type="xsd:string"/>
            <xsd:element name="ApiKey" type="xsd:string"/>
            <xsd:element name="SprintID" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetStoriesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Stories" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="StoryID" type="xsd:long"/>
                  <xsd:element name="ParentSprintID" type="xsd:long"/>
                  <xsd:element name="Name" nillable="true" type="xsd:string"/>
                  <xsd:element name="Description" nillable="true" type="xsd:string"/>
                  <xsd:element name="Status">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Open"/>
                        <xsd:enumeration value="Started"/>
                        <xsd:enumeration value="Done"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="StoryType">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Feature"/>
                        <xsd:enumeration value="Bug"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Points" nillable="true">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="_1"/>
                        <xsd:enumeration value="_2"/>
                        <xsd:enumeration value="_3"/>
                        <xsd:enumeration value="_5"/>
                        <xsd:enumeration value="_8"/>
                        <xsd:enumeration value="_13"/>
                        <xsd:enumeration value="_20"/>
                        <xsd:enumeration value="_40"/>
                        <xsd:enumeration value="_100"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="HasTasks" type="xsd:boolean"/>
                  <xsd:element name="Deleted" type="xsd:boolean"/>
                  <xsd:element name="CreationDate" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="FinishDate" minOccurs="0" type="xsd:dateTime"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetTasks">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProjectID" type="xsd:string"/>
            <xsd:element name="ApiKey" type="xsd:string"/>
            <xsd:element name="StoryID" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetTasksResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Tasks" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="TaskID" type="xsd:long"/>
                  <xsd:element name="ParentStoryID" type="xsd:long"/>
                  <xsd:element name="Name" nillable="true" type="xsd:string"/>
                  <xsd:element name="Description" nillable="true" type="xsd:string"/>
                  <xsd:element name="IsCompleted" type="xsd:boolean"/>
                  <xsd:element name="Deleted" type="xsd:boolean"/>
                  <xsd:element name="CreationDate" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="FinishDate" minOccurs="0" type="xsd:dateTime"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateSprint">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProjectID" type="xsd:string"/>
            <xsd:element name="ApiKey" type="xsd:string"/>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="StartDate" minOccurs="0" type="xsd:dateTime"/>
            <xsd:element name="DurationInWeeks" type="xsd:long"/>
            <xsd:element name="StartsAfterSprint" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateSprintResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="NewSprintID" minOccurs="0" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetSprintByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProjectID" type="xsd:string"/>
            <xsd:element name="ApiKey" type="xsd:string"/>
            <xsd:element name="SprintID" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetSprintByIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Sprint" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="SprintID" type="xsd:long"/>
                  <xsd:element name="Name" nillable="true" type="xsd:string"/>
                  <xsd:element name="HasStories" type="xsd:boolean"/>
                  <xsd:element name="Completed" type="xsd:boolean"/>
                  <xsd:element name="IsActiveSprint" type="xsd:boolean"/>
                  <xsd:element name="Deleted" type="xsd:boolean"/>
                  <xsd:element name="CreationDate" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="StartDate" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="EndDate" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="isBacklog" type="xsd:boolean"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateStory">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Description" minOccurs="0" type="xsd:string"/>
            <xsd:element name="StoryType">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Feature"/>
                  <xsd:enumeration value="Bug"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Points" minOccurs="0" nillable="true">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="_1"/>
                  <xsd:enumeration value="_2"/>
                  <xsd:enumeration value="_3"/>
                  <xsd:enumeration value="_5"/>
                  <xsd:enumeration value="_8"/>
                  <xsd:enumeration value="_13"/>
                  <xsd:enumeration value="_20"/>
                  <xsd:enumeration value="_40"/>
                  <xsd:enumeration value="_100"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ProjectID" type="xsd:string"/>
            <xsd:element name="ApiKey" type="xsd:string"/>
            <xsd:element name="SprintID" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateStoryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="NewStoryID" minOccurs="0" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateTask">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Description" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProjectID" type="xsd:string"/>
            <xsd:element name="ApiKey" type="xsd:string"/>
            <xsd:element name="StoryID" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateTaskResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="NewTaskID" minOccurs="0" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateStory">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Description" minOccurs="0" type="xsd:string"/>
            <xsd:element name="StoryType">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Feature"/>
                  <xsd:enumeration value="Bug"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Points" nillable="true">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="_1"/>
                  <xsd:enumeration value="_2"/>
                  <xsd:enumeration value="_3"/>
                  <xsd:enumeration value="_5"/>
                  <xsd:enumeration value="_8"/>
                  <xsd:enumeration value="_13"/>
                  <xsd:enumeration value="_20"/>
                  <xsd:enumeration value="_40"/>
                  <xsd:enumeration value="_100"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ProjectID" type="xsd:string"/>
            <xsd:element name="ApiKey" type="xsd:string"/>
            <xsd:element name="StoryID" type="xsd:long"/>
            <xsd:element name="ParentSprintID" type="xsd:long"/>
            <xsd:element name="Status">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="Open"/>
                  <xsd:enumeration value="Started"/>
                  <xsd:enumeration value="Done"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateStoryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Success" minOccurs="0" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateTask">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Description" minOccurs="0" type="xsd:string"/>
            <xsd:element name="ProjectID" type="xsd:string"/>
            <xsd:element name="ApiKey" type="xsd:string"/>
            <xsd:element name="TaskID" type="xsd:long"/>
            <xsd:element name="ParentStoryID" type="xsd:long"/>
            <xsd:element name="IsCompleted" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateTaskResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Success" minOccurs="0" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetTaskByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProjectID" type="xsd:string"/>
            <xsd:element name="ApiKey" type="xsd:string"/>
            <xsd:element name="TaskID" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetTaskByIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Task" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="TaskID" type="xsd:long"/>
                  <xsd:element name="ParentStoryID" type="xsd:long"/>
                  <xsd:element name="Name" nillable="true" type="xsd:string"/>
                  <xsd:element name="Description" nillable="true" type="xsd:string"/>
                  <xsd:element name="IsCompleted" type="xsd:boolean"/>
                  <xsd:element name="Deleted" type="xsd:boolean"/>
                  <xsd:element name="CreationDate" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="FinishDate" minOccurs="0" type="xsd:dateTime"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetStoryByID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProjectID" type="xsd:string"/>
            <xsd:element name="ApiKey" type="xsd:string"/>
            <xsd:element name="StoryID" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetStoryByIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Story" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="StoryID" type="xsd:long"/>
                  <xsd:element name="ParentSprintID" type="xsd:long"/>
                  <xsd:element name="Name" nillable="true" type="xsd:string"/>
                  <xsd:element name="Description" nillable="true" type="xsd:string"/>
                  <xsd:element name="Status">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Open"/>
                        <xsd:enumeration value="Started"/>
                        <xsd:enumeration value="Done"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="StoryType">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Feature"/>
                        <xsd:enumeration value="Bug"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="Points" nillable="true">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="_1"/>
                        <xsd:enumeration value="_2"/>
                        <xsd:enumeration value="_3"/>
                        <xsd:enumeration value="_5"/>
                        <xsd:enumeration value="_8"/>
                        <xsd:enumeration value="_13"/>
                        <xsd:enumeration value="_20"/>
                        <xsd:enumeration value="_40"/>
                        <xsd:enumeration value="_100"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="HasTasks" type="xsd:boolean"/>
                  <xsd:element name="Deleted" type="xsd:boolean"/>
                  <xsd:element name="CreationDate" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="FinishDate" minOccurs="0" type="xsd:dateTime"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="authentication">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="username" type="xsd:string"/>
            <xsd:element name="password" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetSprintsRequest">
    <wsdl:part name="request_header" element="tns:authentication"/>
    <wsdl:part name="parameters" element="tns:GetSprints"/>
  </wsdl:message>
  <wsdl:message name="GetSprintsResponse">
    <wsdl:part name="result" element="tns:GetSprintsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStoriesRequest">
    <wsdl:part name="request_header" element="tns:authentication"/>
    <wsdl:part name="parameters" element="tns:GetStories"/>
  </wsdl:message>
  <wsdl:message name="GetStoriesResponse">
    <wsdl:part name="result" element="tns:GetStoriesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTasksRequest">
    <wsdl:part name="request_header" element="tns:authentication"/>
    <wsdl:part name="parameters" element="tns:GetTasks"/>
  </wsdl:message>
  <wsdl:message name="GetTasksResponse">
    <wsdl:part name="result" element="tns:GetTasksResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateSprintRequest">
    <wsdl:part name="request_header" element="tns:authentication"/>
    <wsdl:part name="parameters" element="tns:CreateSprint"/>
  </wsdl:message>
  <wsdl:message name="CreateSprintResponse">
    <wsdl:part name="result" element="tns:CreateSprintResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSprintByIDRequest">
    <wsdl:part name="request_header" element="tns:authentication"/>
    <wsdl:part name="parameters" element="tns:GetSprintByID"/>
  </wsdl:message>
  <wsdl:message name="GetSprintByIDResponse">
    <wsdl:part name="result" element="tns:GetSprintByIDResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateStoryRequest">
    <wsdl:part name="request_header" element="tns:authentication"/>
    <wsdl:part name="parameters" element="tns:CreateStory"/>
  </wsdl:message>
  <wsdl:message name="CreateStoryResponse">
    <wsdl:part name="result" element="tns:CreateStoryResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateTaskRequest">
    <wsdl:part name="request_header" element="tns:authentication"/>
    <wsdl:part name="parameters" element="tns:CreateTask"/>
  </wsdl:message>
  <wsdl:message name="CreateTaskResponse">
    <wsdl:part name="result" element="tns:CreateTaskResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateStoryRequest">
    <wsdl:part name="request_header" element="tns:authentication"/>
    <wsdl:part name="parameters" element="tns:UpdateStory"/>
  </wsdl:message>
  <wsdl:message name="UpdateStoryResponse">
    <wsdl:part name="result" element="tns:UpdateStoryResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateTaskRequest">
    <wsdl:part name="request_header" element="tns:authentication"/>
    <wsdl:part name="parameters" element="tns:UpdateTask"/>
  </wsdl:message>
  <wsdl:message name="UpdateTaskResponse">
    <wsdl:part name="result" element="tns:UpdateTaskResponse"/>
  </wsdl:message>
  <wsdl:message name="GetTaskByIDRequest">
    <wsdl:part name="request_header" element="tns:authentication"/>
    <wsdl:part name="parameters" element="tns:GetTaskByID"/>
  </wsdl:message>
  <wsdl:message name="GetTaskByIDResponse">
    <wsdl:part name="result" element="tns:GetTaskByIDResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStoryByIDRequest">
    <wsdl:part name="request_header" element="tns:authentication"/>
    <wsdl:part name="parameters" element="tns:GetStoryByID"/>
  </wsdl:message>
  <wsdl:message name="GetStoryByIDResponse">
    <wsdl:part name="result" element="tns:GetStoryByIDResponse"/>
  </wsdl:message>
  <wsdl:portType name="StoriesAPIPortType">
    <wsdl:operation name="GetSprints">
      <wsdl:documentation>Retrieves all sprints in a specific project. Parameters:
ApiKey: The API Key the application uses to access the Stories API for this project.
ProjectID: The ID of the project.</wsdl:documentation>
      <wsdl:input message="tns:GetSprintsRequest"/>
      <wsdl:output message="tns:GetSprintsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetStories">
      <wsdl:documentation>Retrieves all stories in a specific sprint. Parameters:
ApiKey: The API Key the application uses to access the Stories API for this project.
ProjectID: The ID of the project.
SprintID: The ID of the sprint for which stories are being retrieved.</wsdl:documentation>
      <wsdl:input message="tns:GetStoriesRequest"/>
      <wsdl:output message="tns:GetStoriesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <wsdl:documentation>Retrieves all tasks for a specific story. Parameters:
ApiKey: The API Key the application uses to access the Stories API for this project.
ProjectID: The ID of the project.
StoryID: The ID of the story for which tasks are being retrieved.</wsdl:documentation>
      <wsdl:input message="tns:GetTasksRequest"/>
      <wsdl:output message="tns:GetTasksResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CreateSprint">
      <wsdl:documentation>Creates a new sprint for the specified project and returns the ID of the new sprint. Parameters:
ApiKey: The API Key the application uses to access the Stories API for this project.
ProjectID: The ID of the project.
Name: Name of the new sprint.
StartsAfterSprint: ID of the Sprint directly preceding the new sprint.
StartDate: Start date for the new sprint. If not filled, the sprint will automatically start directly after the previous sprint. (optional)
DurationInWeeks: Duration of the new sprint in weeks.</wsdl:documentation>
      <wsdl:input message="tns:CreateSprintRequest"/>
      <wsdl:output message="tns:CreateSprintResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetSprintByID">
      <wsdl:documentation>Retrieves a specific sprint. Parameters:
ApiKey: The API Key the application uses to access the Stories API for this project.
ProjectID: The ID of the project.
SprintID: The ID of the sprint.</wsdl:documentation>
      <wsdl:input message="tns:GetSprintByIDRequest"/>
      <wsdl:output message="tns:GetSprintByIDResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CreateStory">
      <wsdl:documentation>Creates a new story in the specified sprint and returns the ID of the new story. Parameters:
ApiKey: The API Key the application uses to access the Stories API for this project.
ProjectID: The ID of the project.
SprintID: The ID of the sprint.
Name: Name of the new story.
Description: Description of the story (optional)
StoryType: The type of the story (Feature or Bug)
Points: Number of story points. If left empty will be set to 1. (_1/_2/_3/_5/_8/_13/_20/_/40/_100, optional)</wsdl:documentation>
      <wsdl:input message="tns:CreateStoryRequest"/>
      <wsdl:output message="tns:CreateStoryResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CreateTask">
      <wsdl:documentation>Creates a new task for the specified story and returns the ID of the new task. Parameters:
ApiKey: The API Key the application uses to access the Stories API for this project.
ProjectID: The ID of the project.
StoryID: The ID of the story.
Name: Name of the new task.
Description: Description of the task (optional)</wsdl:documentation>
      <wsdl:input message="tns:CreateTaskRequest"/>
      <wsdl:output message="tns:CreateTaskResponse"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateStory">
      <wsdl:documentation>Updates a story with modified information. Parameters:
ApiKey: The API Key the application uses to access the Stories API for this project.
ProjectID: The ID of the project.
StoryID: ID of the Story
ParentSprintID: The ID of the sprint the story is in.
Name: Name of the story.
Description: Description of the story (optional)
StoryType: The type of the story (Feature/Bug)
Points: Number of story points. (_1/_2/_3/_5/_8/_13/_20/_/40/_100)
Status: Status of the story, (Open/Started/Done)</wsdl:documentation>
      <wsdl:input message="tns:UpdateStoryRequest"/>
      <wsdl:output message="tns:UpdateStoryResponse"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <wsdl:documentation>Updates a task with modified information. Parameters:
ApiKey: The API Key the application uses to access the Stories API for this project.
ProjectID: The ID of the project.
TaskID: The ID of the task.
ParentStoryID: The ID of the story the task belongs to.
Name: Name of the new task.
Description: Description of the task (optional)
IsCompleted: Completion state of the task.</wsdl:documentation>
      <wsdl:input message="tns:UpdateTaskRequest"/>
      <wsdl:output message="tns:UpdateTaskResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetTaskByID">
      <wsdl:documentation>Retrieves a specific task. Parameters:
ApiKey: The API Key the application uses to access the Stories API for this project.
ProjectID: The ID of the project.
TaskID: The ID of the task.</wsdl:documentation>
      <wsdl:input message="tns:GetTaskByIDRequest"/>
      <wsdl:output message="tns:GetTaskByIDResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetStoryByID">
      <wsdl:documentation>Retrieves a specific story. Parameters:
ApiKey: The API Key the application uses to access the Stories API for this project.
ProjectID: The ID of the project.
StoryID: The ID of the story.</wsdl:documentation>
      <wsdl:input message="tns:GetStoryByIDRequest"/>
      <wsdl:output message="tns:GetStoryByIDResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StoriesAPISoap" type="tns:StoriesAPIPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetSprints">
      <soap:operation soapAction="http://home.mendix.com/storiesGetSprints"/>
      <wsdl:input>
        <soap:header message="tns:GetSprintsRequest" part="request_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStories">
      <soap:operation soapAction="http://home.mendix.com/storiesGetStories"/>
      <wsdl:input>
        <soap:header message="tns:GetStoriesRequest" part="request_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTasks">
      <soap:operation soapAction="http://home.mendix.com/storiesGetTasks"/>
      <wsdl:input>
        <soap:header message="tns:GetTasksRequest" part="request_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSprint">
      <soap:operation soapAction="http://home.mendix.com/storiesCreateSprint"/>
      <wsdl:input>
        <soap:header message="tns:CreateSprintRequest" part="request_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSprintByID">
      <soap:operation soapAction="http://home.mendix.com/storiesGetSprintByID"/>
      <wsdl:input>
        <soap:header message="tns:GetSprintByIDRequest" part="request_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStory">
      <soap:operation soapAction="http://home.mendix.com/storiesCreateStory"/>
      <wsdl:input>
        <soap:header message="tns:CreateStoryRequest" part="request_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTask">
      <soap:operation soapAction="http://home.mendix.com/storiesCreateTask"/>
      <wsdl:input>
        <soap:header message="tns:CreateTaskRequest" part="request_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStory">
      <soap:operation soapAction="http://home.mendix.com/storiesUpdateStory"/>
      <wsdl:input>
        <soap:header message="tns:UpdateStoryRequest" part="request_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <soap:operation soapAction="http://home.mendix.com/storiesUpdateTask"/>
      <wsdl:input>
        <soap:header message="tns:UpdateTaskRequest" part="request_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskByID">
      <soap:operation soapAction="http://home.mendix.com/storiesGetTaskByID"/>
      <wsdl:input>
        <soap:header message="tns:GetTaskByIDRequest" part="request_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoryByID">
      <soap:operation soapAction="http://home.mendix.com/storiesGetStoryByID"/>
      <wsdl:input>
        <soap:header message="tns:GetStoryByIDRequest" part="request_header" use="literal"/>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StoriesAPI">
    <wsdl:port name="StoriesAPIPort" binding="tns:StoriesAPISoap">
      <soap:address location="https://sprintr.home.mendix.com/ws/StoriesAPI"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>